/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
   --primary: 79, 70, 229;
   --secondary: 248, 250, 252;
   --text-heading: 30, 41, 59;
   --text-body: 71, 85, 105;
   --section-bg: #F8FAFC;
   font-size: 16px;
   scroll-behavior: smooth;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html[data-lock-scroll="true"] {
   overflow: hidden;
}

body {
   font-family: "Plus Jakarta Sans", sans-serif;
   color: rgb(var(--text-body));
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: rgb(var(--text-heading));
}

#scroll-to-top {
   position: fixed;
   bottom: 2rem;
   right: 2rem;
   z-index: 5;
   background-color: rgb(var(--primary));
   color: var(--section-bg);
   min-height: 3rem;
   display: grid;
   place-items: center;
   aspect-ratio: 1/1;
   border-radius: 50%;
   cursor: pointer;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   display: none;
}


/* Nav-bar */
#nav-bar {
   justify-content: space-between;
   padding: 1rem 0;
   font-weight: 500;

   .nav-logo {
      font-weight: 700;
   }

   a {
      text-decoration: none;
      color: #000;
   }

   .nav-links-container {

      @media only screen and (max-width: 768px) {
         display: none;
      }

      list-style-type: none;
      gap: 1rem;

      a {
         display: inline-block;
         padding: 0.25rem 0.5rem;

         &:hover {
            text-decoration: underline;
            color: rgb(var(--primary))
         }
      }
   }

   .nav-btn {
      @media only screen and (max-width: 768px) {
         display: none;
      }

      gap: 0.75rem;
   }

   #hamburger {
      display: none;

      max-height: 2.5rem;
      cursor: pointer;

      @media only screen and (max-width: 768px) {
         display: block;
      }

   }

   #mobile-nav-container {
      position: absolute;
      z-index: 10;
      inset: 0;
      background-color: rgba(255, 255, 2550, 0.5);
      padding: 5rem 0 2rem 0;
      text-align: center;
      backdrop-filter: blur(20px);
      transition: all 0.5s ease;
      opacity: 0;
      transform: translateY(110%);
      -webkit-transform: translateY(110%);
      -moz-transform: translateY(110%);
      -ms-transform: translateY(110%);
      -o-transform: translateY(110%);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;

      &.active {
         transform: translateY(0);
         opacity: 1;
         -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
         -ms-transform: translateY(0);
         -o-transform: translateY(0);
      }

      .links-and-btns {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
      }

      #nav-close {
         position: absolute;
         top: -2.5rem;
         font-size: 4rem;
         color: brown;
         right: 20px;
         top: 10px;
         cursor: pointer;
      }

      .links {
         list-style-type: none;
         display: grid;
         gap: 1rem;

         a {
            text-decoration: none;
            font-size: 1.5rem;
         }
      }

      .mobile-nav-btns {
         gap: 1rem;
         margin-top: 2rem;
         flex-wrap: wrap;
      }
   }
}

/* hero section */
.hero-section {
   background: linear-gradient(to top, rgba(var(--primary), 0.7), rgba(var(--primary), 0.1), rgba(var(--primary), 0));
   padding-bottom: 0 !important;

   .hero-heading {
      font-size: 3.75rem;
      margin-bottom: 1rem;
   }

   .hero-description {
      font-size: 1.2rem;
   }

   .download-app {
      margin-top: 1rem;
   }

   .hero-image-container {
      position: relative;
      text-align: center;
      margin-top: 1rem;

      img:first-child {
         position: relative;
         max-width: 100%;
      }

      img:nth-child(2) {
         position: absolute;
         bottom: 0;
         right: 7rem;
         max-height: 90%;

         @media only screen and (max-width: 1200px) {
            right: 0;
         }
      }
   }
}

/* sponsor section */
.sponsor-section {
   background-color: var(--section-bg);

   .image-container {
      flex-wrap: wrap;
      gap: 1rem 5rem;

      @media only screen and (max-width: 425px) {
         gap: 0 1.5rem;
         justify-content: flex-start;
      }

      img {
         max-width: 150px;

         @media only screen and (max-width: 425px) {
            max-width: 100px;
         }
      }

   }
}

/* main feature section */
.feature-cards-container {
   padding-top: 3rem;
   display: grid;
   gap: 2rem;
   grid-template-columns: repeat(3, 1fr);

   @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
   }

   @media only screen and (max-width: 425px) {
      grid-template-columns: 1fr;
   }


   .feature-card {
      text-align: center;
      display: grid;
      gap: 1rem;
      padding: 1rem;

      img {
         margin: 0 auto;
      }
   }
}

/* Statistics Section */
.statistics-section {
   background-color: var(--section-bg);

   .data-container {
      display: table;
      width: 100%;
      margin-top: 2rem;

      @media only screen and (max-width: 425px) {
         display: block;
      }

      .data-card {
         display: table-cell;
         text-align: center;

         @media only screen and (max-width: 425px) {
            padding: 2rem 0;
            display: block;
            width: 100%;
            border: none;
         }

         &:not(:last-child) {
            border-right: 1px solid #ccc;

            @media only screen and (max-width: 425px) {
               border-right: none;
               border-bottom: 1px solid #ccc;
            }

         }

         h1 {
            font-size: 3.75rem;
         }

         h6 {
            font-size: 1.125rem;
         }
      }
   }

}

/* Features Section */
.features-section {
   .heading-tag {
      margin-left: 0;
   }

   .section-description,
   .section-heading {
      text-align: left;
      margin-left: 0;
   }

   .features-wrapper {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      align-items: center;
      margin-top: 3rem;

      @media only screen and (max-width: 425px) {
         flex-direction: column;
      }

      .features-container {
         flex: 1;

         .feature-card {
            padding: clamp(1rem, 1.5vw, 2rem);
            position: relative;

            &::before {
               content: '';
               position: absolute;
               height: 100%;
               width: 3px;
               border-radius: 0.5rem;
               background-color: #ccc;
               left: 0;
               top: 0;
               -webkit-border-radius: 0.5rem;
               -moz-border-radius: 0.5rem;
               -ms-border-radius: 0.5rem;
               -o-border-radius: 0.5rem;
            }

            &.active::before {
               background-color: rgb(var(--primary));
            }

            &:not(:last-child) {
               margin-bottom: 1rem;
            }

            h3 {
               font-size: 1.25rem;
            }
         }
      }

      .feature-image {
         img {
            width: 100%;
         }

         flex: 1;
      }
   }
}

/* Testimonials Section */
.testimonial-section {
   background-color: var(--section-bg);

   #reviews-wrapper {
      margin-top: 3rem;
      column-count: 3;

      @media only screen and (max-width: 768px) {
         column-count: 2;
      }

      @media only screen and (max-width: 425px) {
         column-count: 1;
      }

      .review-container {
         border: 1px solid #E2E8F0;
         padding: 1.5rem;
         border-radius: 1.5rem;
         -webkit-border-radius: 1.5rem;
         -moz-border-radius: 1.5rem;
         -ms-border-radius: 1.5rem;
         -o-border-radius: 1.5rem;
         break-inside: avoid;

         &:not(:last-child) {
            margin-bottom: 1rem;
         }

         .user-ratings {
            display: inline-block;
            color: rgb(250, 176, 5);
            margin-bottom: 1rem;
         }

         .review {
            font-size: 1.125rem;
         }

         .profile {
            justify-content: flex-start;
            margin-top: 1rem;
            gap: 1rem;

            img {
               width: 50px;
               aspect-ratio: 1/1;
               border-radius: 50%;
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               -ms-border-radius: 50%;
               -o-border-radius: 50%;
               object-fit: cover;
            }

         }
      }
   }

   #load-more-button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      justify-content: center;
      margin-top: 2rem;

      @media (width > 425px) {
         display: none;
      }
   }
}

/* Contact Section */
.contact-section {
   .heading-tag {
      margin-left: 0;
   }

   .section-description,
   .section-heading {
      text-align: left;
      margin-left: 0;
   }

   .contact-wrapper {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      @media only screen and (max-width: 768px) {
         grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (max-width: 425px) {
         grid-template-columns: 1fr;
      }

      .contact-container {
         border: 1px solid #E2E8F0;
         padding: 1.5rem;
         border-radius: 1.5rem;
         -webkit-border-radius: 1.5rem;
         -moz-border-radius: 1.5rem;
         -ms-border-radius: 1.5rem;
         -o-border-radius: 1.5rem;

         img,
         h4 {
            margin-bottom: 0.5rem;
         }
      }
   }
}

/* FAQ Section */
.faq-section {
   background-color: var(--section-bg);

   .accordion-wrapper {
      margin-top: 3rem;

      .accordion-container {
         padding: 1rem 0;

         &:not(:last-child) {
            border-bottom: 1px solid #CBD5E1;
         }

         .accordion {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            cursor: pointer;

            h4 {
               user-select: none !important;
            }

            .fa-chevron-up {
               display: none;
            }

            .fa-chevron-down,
            .fa-chevron-up {
               color: #CBD5E1;
            }
         }

         input[type='checkbox'] {
            display: none;

            &:checked {
               ~.accordion-content {
                  display: block;
               }

               ~.accordion .fa-chevron-down {
                  display: none;
               }

               ~.accordion .fa-chevron-up {
                  display: block;
               }

            }
         }

         .accordion-content {
            display: none;
            margin-top: 0.5rem;
            animation: expand-content 0.5s ease;
            -webkit-animation: expand-content 0.5s ease;
         }
      }
   }
}

/* Expand animation for accordion */
@keyframes expand-content {
   from {
      max-height: 0;
   }

   to {
      max-height: 10rem;
   }
}

/* CTA Section */
.cta-section {
   background-color: #EEF2FF;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   position: relative;
   overflow: hidden;

   &>div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      @media only screen and (max-width: 768px) {
         grid-template-columns: 1fr;
         padding: 3rem 0 5rem 0;
      }

      .content {

         * {
            text-align: left;
            margin: 0;
         }

         .section-description {
            margin-top: 1rem;
            font-weight: 500;
         }

         .btns {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;

            @media only screen and (max-width: 425px) {
               flex-direction: column;
            }

            button {
               font-weight: 700;

               &.btn-outline {
                  color: rgb(var(--primary));
               }

               @media only screen and (max-width: 425px) {
                  text-align: center;
               }
            }
         }
      }

      .images {
         position: relative;
         display: flex;
         justify-content: space-between;

         @media only screen and (max-width: 768px) {
            margin-top: 2rem;
         }

         img {
            max-width: 100%;
            position: relative;
            filter: drop-shadow(0px 19.71px 43.79px #1E293B1A);
            -webkit-filter: drop-shadow(0px 19.71px 43.79px #1E293B1A);
            -webkit-filter: drop-shadow(0px 19.71px 43.79px #1E293B1A);

            @media only screen and (max-width: 425px) {
               max-width: 50%;
            }

            &:first-child {
               bottom: -10rem;
               left: 0;

               @media only screen and (max-width: 768px) {
                  position: static;
                  transform: translateY(5rem);
                  -webkit-transform: translateY(5rem);
                  -moz-transform: translateY(5rem);
                  -ms-transform: translateY(5rem);
                  -o-transform: translateY(5rem);
               }
            }

            &:last-child {
               top: -8rem;
               right: 1rem;

               @media only screen and (max-width: 1024px) {
                  right: 10rem;
               }

               @media only screen and (max-width: 768px) {
                  position: static;
               }
            }
         }

      }
   }


}

/* Footer Sections */
.footer {
   background-color: var(--section-bg);

   .footer-links {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;

      @media (width >=1024px) {
         justify-content: space-between;

      }

      .links-container {
         display: grid;
         gap: 0.5rem;

         a {
            text-decoration: none;
            color: inherit;

            &:hover {
               text-decoration: underline;
               color: rgb(var(--primary))
            }
         }
      }
   }

   .bottom-part {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and (max-width: 425px) {
         flex-direction: column;
         gap: 1rem;
      }

      .footer-logo {
         display: flex;
         align-items: center;
         gap: 0.5rem;
         text-decoration: none;
         color: inherit;
         font-weight: 700;
      }

      .copyright {
         color: #94A3B8;
         font-size: small;
         font-weight: 500;
      }
   }
}






/* -------------------- ### Common CLasses ### -------------------- */
.middle {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* filled and outlined button */
.btn {
   padding: 0.75rem 2rem;
   background-color: rgb(var(--primary));
   font-weight: 700;
   border: 2px solid transparent;
   border-radius: 10rem;
   -webkit-border-radius: 10rem;
   -moz-border-radius: 10rem;
   -ms-border-radius: 10rem;
   -o-border-radius: 10rem;
   color: #fff;
   cursor: pointer;

   &:not(.btn-outline):hover {
      background-color: rgba(var(--primary), 0.9);
   }
}

.btn-outline {
   border: 2px solid rgb(var(--primary));
   background-color: transparent;
   color: #000;

   &:hover {
      background-color: rgba(var(--primary), 0.1);
   }
}

/* heading tag */
.heading-tag {
   background-color: #EEF2FF;
   width: max-content;
   padding: 0.5rem 1rem;
   border-radius: 5rem;
   -webkit-border-radius: 5rem;
   -moz-border-radius: 5rem;
   -ms-border-radius: 5rem;
   -o-border-radius: 5rem;
   margin: 0 auto;
   margin-bottom: 1.5rem;
   font-size: small;
   font-weight: 700;
   color: rgb(var(--primary));
}

/* for all section */
.section {
   padding: 5rem 1rem;

   .section-heading {
      font-size: 2.25rem;
      color: var(--text-heading);
      margin-bottom: 1.5rem;
   }

   .section-description {
      font-size: 1.25rem;
   }
}

.side-padding {
   @media only screen and (max-width: 1440px) {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
   }
}


.max-50rem {
   max-width: 50rem;
   margin: 0 auto;
}

.text-center {
   text-align: center;
}

.text-primary {
   color: rgb(var(--primary));
}

.bg-primary {
   background-color: rgb(var(--primary));
}

.max-1440 {
   max-width: 1440px;
   margin: 0 auto;
}

.horizontal-divider {
   width: 100%;
   height: 1px;
   background-color: #CBD5E1;
   margin: 3rem auto;
}